.container-about{
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px 0px;
}
.about {
  text-align: left;
  margin: 100px;
  color: black;
}
h3 {
  font-size: 40px;
  font-weight: 350;
  margin-bottom: 30px;
  /* letter-spacing: 3px */
}
p {
  font-weight: 300;
  line-height: 2;
  font-size:18px;
}
.link{
    color: #FF007F;;
    text-decoration: none;
    font-weight:bold;
}
.link:hover{
    color:black;
    font-weight: bold;
}