.about {
  text-align: center;
  margin: 150px 50px;
  color: #fc46aa;
}
h3 {
  font-size: 35px;
  font-weight: 350;
  margin-bottom: 30px;
}
p {
  font-weight: 300;
}
.link{
    color: #fc46aa;
}
.link:hover{
    color:white;
}