.projects {
  padding: 80px 50px 50px;
  background-color: #f3e7d8;

  color: #fc1b97;
}
.projects a{
  color:#fc1b97;
  text-decoration: none;
}
.projects h3 {
  text-align: center;
  /* color: #fc46aa; */

  margin-bottom: 70px;
  line-height: 1.5;
  /* letter-spacing: 2px; */
}
.projects h4 {
  /* font-size: 25px;
  /* color: #fc46aa; */
  /* font-weight: 400; */
  font-weight: 300;
  font-size: 30px;
}
.projects h5 {
  font-weight: 230;
  font-size: 20px;
}
.projects p {
  /* color: #fc46aa; */
  font-size: 16px;
  font-weight: 400;
}

.description {
  padding-top: 10px;
}
.projects img {
  border-radius: 15px;
  max-width: 65%;
  
}

.single-article-card-large{
  background-color: #f3e7d8;
  border-style: none;
  margin-bottom: 70px !important;
}
