.navbar {
  background-color: #fc1b97;
}
.nav-item {
padding-left:20px;
  font-weight: 300;
  font-size: 15px;
}
.brand {
  color: #f3e7d8;
  font-weight: 300;
  font-size: 20px;
  padding: 0px 20px 0px 40px;
}
.navbar-toggler {
  border:#fc1b97;
  color: #f3e7d8;
}
a.active{
  color:#f3e7d8 !important;
}
.nav-link{
  
  font-size: 18px;
}
.nav-link:hover{
  color: #f3e7d8;
}
.nav-download{
  display:flex;
justify-content: center;
padding:0px 0px 0px 20px;
}
.download-button{
border-style: none;
border-radius:5px;
background-color:#fc1b97;
padding: 0px 8px 0px 8px;


}